services:
    db:
        image: "postgres:latest"
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: matinee
            POSTGRES_DB: matinee
    adminer:
        image: adminer
        restart: always
        ports:
            - 8088:8080
